<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Runner" parallel="methods" thread-count="1">
 <!--  <parameter name="envConfigPath" value="./src/test/resources/env_config"/> -->
  <classes>
  <class name="runner.TestRunner">
  </class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
     